*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: #1e2f52;
    color : #21396b;
}

#header{
    width: 100%;
    height: 100%;
    background-image: url(images/gloydius-detachment.png);
    background-size: cover;
    background-position: center;
}